@import "tailwindcss";

@theme {
  --color-brand-light: #FFF7DB;
  --color-brand-yellow: #FDE792;
  --color-brand-primary: #EAB243;
  --color-brand-dark: #7A5230;
  --color-brand-white: #FFFFFF;
  --color-brand-border: #F3E0A3;
  
  --font-bubble: var(--font-bubble);
  --font-sans: var(--font-sans);
}

:root {
  --background: var(--color-brand-light);
  --foreground: var(--color-brand-dark);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-3d {
    font-family: var(--font-bubble);
    color: white;
    -webkit-text-stroke: 2px var(--color-brand-primary);
    text-shadow: 
      3px 3px 0px var(--color-brand-yellow),
      5px 5px 0px rgba(122, 82, 48, 0.1);
  }
  
  .text-bubble {
    font-family: var(--font-bubble);
  }
  
  .card-shadow {
    box-shadow: 0 10px 25px -5px rgba(234, 178, 67, 0.15);
  }
  
  .btn-shadow {
    box-shadow: 0 4px 0px 0px #C79430; /* Darker yellow for 3d button effect */
  }
  
  .btn-shadow:active {
    box-shadow: 0 0px 0px 0px #C79430;
    transform: translateY(4px);
  }
}
